@font-face {
  font-family: 'Inter-Bold';
  src: url(fonts/Inter-Bold.ttf);
  font-style: bold;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: 'Inter-Medium';
  src: url(fonts/Inter-Medium.ttf);
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'Inter-Regular';
  src: url(fonts/Inter-Regular.ttf);
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Inter-Semibold';
  src: url(fonts/Inter-SemiBold.ttf);
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'Inter-Light';
  src: url(fonts/Inter-Light.ttf);
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'Inter-Thin';
  src: url(fonts/Inter-Thin.ttf);
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}